.thtitle {
	background-color: #9B0000; 
	height: 24px; 
	color: White; 
	text-align: center;
}

.tdtitle {
	background-color: #E2E2E2;
}

.tdrow {
	background-color: #FFFBD6;
}

.fill_green {
	background-color: #cfc;
}

.fill_red {
	background-color: red;
}

.tdgreen {
	padding:5px;
	background-color:#cfc;
	color:black;
	font-size:12px;
	border:1px solid #CCC;
}

.tdred {
	background-color: #F8E0F7
}

.btn-custom
{
    margin: 5px;
}